*{
    font-family: "Montserrat", sans-serif;;
}
.LPcontainer {
  position: relative;
  width: 100%;
  height: 100vh; 
  background-size: cover; 
  background-position: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  color: white; 
}

h1 {
  z-index: 1; 
}
.LPcontainer p{
  font-size: 2.8em;
  margin-bottom: -0.5em;
  font-weight: 500;
  text-align: center;
}
.LPcontainer h1{
  font-size: 6.5em;
  font-weight: 800;
}
.LPcontainer .LPBtnCtnr button{
  margin-top: 8em;
  border: 2px solid white;
  font-size: 20px;
  height: 3em;
  width: 10em;
  letter-spacing: 4px;
  color: white;
  transition: 0.7s ease
}
.LPcontainer .LPBtnCtnr button:hover{
  background-color: rgb(255, 255, 255);
  border: none;
  font-weight: 800;
  color: #01245B;
  border-radius: 3em;
}
.brave-herons {  
  color: #FFD659;
}


